<h1>Product List</h1>

  <table class='table table-striped table-responsive'>
    <thead class = 'thead-dark'>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>PRICE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products;">
      <td>{{product.productID}}</td>
      <!--<td><a [routerLink]="['detail',product.productID]">{{product.name}} </a> </td>-->
      <td><a [routerLink]="['/product',product.productID]">{{product.name}} </a> </td>
      <td>{{product.price}}</td>
    </tr>
    </tbody>
  </table>

<br>

<p>Current Page No <strong> {{pageNo}} </strong></p>
<p>snapshot Page No  <strong> {{ snapshotPageNo }} </strong></p>
<button (click)="nextPage()">Next Page</button>

<br>

